@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body, html {
    height: 100%;
    margin: 0;
    background-image: url('image/IA.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 124px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.TextMain {
    text-align: center;
    color: white;
    padding-top: 45px;
    padding-bottom: 45px;
    font-family: 'ADLaM Display', serif;
}

.initial-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .initial-messageLogo {
        background-image: url('image/imgLogo.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 107px;
        height: 110px;
        border: none;
    }

    .h1 {
        color: #3495b3;
        font-family: 'ADLaM Display', serif;
    }
}

.App-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: auto;
    flex-direction: column;

}

.mainChatBot {
    padding: 20px;
    margin-top: 15px;
    margin-left: 145px;
    margin-right: 145px;
    margin-bottom: 15px;
    width: 75%;
    height: 60vh;
    overflow: auto;

}

.mainChatBot::-webkit-scrollbar {
    width: 10px;
}

.mainChatBot::-webkit-scrollbar-thumb {
    background: #0077b6;
    border-radius: 5px;
}

.mainChatBot::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 5px;
}


.user-question {
    background-color: #3495b3;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    float: right;
    margin: 5px 0;
    max-width: 80%;
    clear: both;
}

.bot-response {
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    float: left;
    margin: 5px 0;
    max-width: 80%;
    clear: both;
}

.bot-icon::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('image/imgLogo.png');
    background-size: cover;
    margin-right: 10px;
    vertical-align: middle;
}

.user-icon::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('image/user.png');
    background-size: cover;
    margin-right: 10px;
    vertical-align: middle;
}

.custom-textarea {
    border-radius: 45px;
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 34vw;
}

.send-icon-button {
    background-image: url('image/envoyer.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.custom-textarea::placeholder {
    text-align: left;
}

.textarea-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.custom-textarea {
    border-radius: 45px;
    flex: 1;
    resize: vertical;
}

.send-icon-button {
    background-image: url('image/envoyer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.3;
}

.send-icon-button:hover {
    opacity: 0.8;
}

.logo {
    background-image: url('image/imgLogo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 107px;
    height: 110px;
    border: none;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}


.typing-indicator {
    animation: blink 1s infinite;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader div {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #999;
    border-radius: 50%;
    animation: loaderAnim 1.2s infinite ease-in-out;
}

.loader div:nth-child(2) {
    animation-delay: -0.2s;
}

.loader div:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes loaderAnim {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .App-header {
        flex-direction: column;
    }

    .mainChatBot {
        height: 59vh;
        margin-left: 0;
        margin-right: 0;

    }

    .h1 {
        text-align: center;
        font-size: 20px;
    }

    .textMain {
        font-size: 15px;
    }

    .textarea-container {
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .App-header {
        flex-direction: column;
    }

    .mainChatBot {
        height: 59vh;
        margin-left: 0;
        margin-right: 0;

    }

    .h1 {
        text-align: center;
        font-size: 20px;
    }

    .textMain {
        font-size: 15px;
    }

    .textarea-container {
        margin-bottom: 0;
    }
}
